*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: #081431;
    color:white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.choice{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    background-color: #00206b;
    cursor: pointer;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    width: 18rem;
    font-size: 3rem;
   
    margin-top: 5rem;
    text-align: center;
    text-transform: capitalize;
    
}
.messaggeContainer{
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#msg{
   
    background-color: rgb(3, 63, 175);
    font-size: 3rem;
    margin: 3rem;
    color: white;
    padding: 1rem;
    border-radius: 20px;
}